<div class="flexBoxParent">
  <header style="order: 1">
    <ngb-carousel
      style="
        height: 322px;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 35px;
        margin-top: 20px;
        margin-bottom: 20px;
      "
    >
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="logoAndMissionStatementFlex">
            <div style="order: 1" class="logo">
              <img
                src="./assets/img/logo.webp"
                alt="That's How I Roll Foundation Logo"
              />
            </div>
            <div style="order: 2" class="missionStatement">
              <h1>
                Giving paraplegics and quadriplegics the confidence and ability
                to live life to its fullest
              </h1>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            src="./assets/img/slider1pic2.png"
            alt="Fun activities with the foundation."
          />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            src="./assets/img/slider1pic3.png"
            alt="Fun activities with the foundation."
          />
        </div>
      </ng-template>
    </ngb-carousel>
  </header>
  <div class="goalsTitle" style="order: 2">
    <h1>The Goals of Our Foundation</h1>
  </div>
  <div class="setBackgroundBlack" style="order: 3">
    <div class="goals">
      <div style="order: 1; flex: 50">
        <ul>
          <li>
            To pair up a new or existing injury/condition with someone who has
            the same injury/condition, and has learned the ropes of everyday
            life. Providing a <strong>Big Wheels/Little Wheels™ </strong>system.
          </li>
          <li>
            Help <strong>Little Wheels</strong> build confidence and acceptance
            within themselves, and their injuries/conditions. In turn, building
            acceptance within the Community.
          </li>
          <li>
            Getting <strong>Little Wheels</strong> out into the world and learn
            how to function and interact the best they can with everyday
            situations.
          </li>
          <li>
            Help <strong>Little Wheels</strong> better understand how to
            maneuver in their chairs, handle public situations, and build
            confidence outside the comfort of the home/hospital atmosphere.
          </li>
        </ul>
      </div>
      <div style="order: 2; flex: 50; border-left-color: #fff">
        <p>
          With the help of Big Wheels and Sponsors, we can help Little Wheels
          with something as simple as dinner or a movie.
        </p>
        <p>
          We have found that it is the relationships created that matter the
          most in building confidence.
        </p>
        <p>
          Visit our
          <a href="/home" title="Peer Support Page">peer support page</a> to
          find out more about Big Wheels/Little Wheels™
        </p>
      </div>
    </div>
  </div>
  <div class="aboutUsTitle" style="order: 4">
    <h1>About Us</h1>
    <div class="aboutUsTitleFlexBox">
      <div style="order: 1">
        <p>
          Colby & Meara Kortum started this Foundation based on one concept:
        </p>
        <p>
          Peer interaction and simple conversation may be all it takes to turn
          someone's outlook on life around.
        </p>
      </div>
      <div style="order: 2">
        <img
          src="./assets/img/colbyAndMearaKortum.webp"
          alt="Colby and Meara Kortum"
        />
      </div>
      <div style="order: 3">
        <img src="./assets/img/handsUp.webp" alt="" />
      </div>
    </div>
  </div>
  <div class="aboutUs" style="order: 5">
    <div style="order: 1; flex: 50">
      <h3>Colby Kortum</h3>
      <p>
        Colby was injured in a car accident in Feb. 2000 which left him with a
        SCI injury at L1-L2. After being faced with multiple health challenges,
        he was urged by a friend to come to Denver for his re-eval in May of
        2006. Scheduled to stay for a week, he met his wife on the first day. At
        the time she was at the hospital with her mother, who had been in a car
        accident as well. Colby’s independence and confidence, along with his
        ability to overcome life’s obstacles, is what made him stand out. It was
        less than a year and a half later, in August of 2007, that Colby and
        Meara were married.
      </p>
    </div>
    <div style="order: 2; flex: 50">
      <h3>Meara Kortum</h3>
      <p>
        In 2009, while Meara was in therapy with her mother, she overheard other
        patients talking about a guy they had met. They couldn’t believe he
        worked, traveled, and was married. Little did they know, it was Meara’s
        husband they were referring to. It was a simple conversation in passing
        that had such a positive and powerful influence. It was then that the
        wheels started to turn, ideas were put together, and the Foundation was
        formed in 2011.
      </p>
    </div>
  </div>
  <div class="setBackgroundBlack" style="order: 6">
    <div class="boardMembersTitle">
      <h1>Meet the Board Members</h1>
    </div>
  </div>
  <div class="setBackgroundBlack" style="order: 7">
    <div class="boardMembers">
      <ngb-carousel
        style="
          height: 430px;
          width: 100%;
          padding-left: 10%;
          padding-right: 10%;
          padding-bottom: 35px;
          margin-top: 20px;
          margin-bottom: 20px;
          color: #fff;
        "
      >
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <div class="boardMembersFlex">
              <div style="order: 1" class="boardMembersPicture">
                <img
                  src="./assets/img/danielHersh.webp"
                  alt="Picture of Daniel Hersh"
                />
              </div>
              <div style="order: 2" class="boardMembersDescription">
                <div style="order: 1">
                  <h1>Daniel Hersh</h1>
                </div>
                <div style="order: 2">
                  <p>Injured since 2005, Board Member since 2018.</p>
                </div>
                <div style="order: 3">
                  <p>
                    Daniel is the reason the Rolling Mammoth exists, and a great
                    addition to our foundation. He brings lots of laughs and is
                    quite fun to have around.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <div class="boardMembersFlex">
              <div style="order: 1" class="boardMembersPicture">
                <img
                  src="./assets/img/annaAranda.webp"
                  alt="Picture of Anna Aranda"
                />
              </div>
              <div style="order: 2" class="boardMembersDescription">
                <div style="order: 1">
                  <h1>Anna Aranda</h1>
                </div>
                <div style="order: 2">
                  <p>Injured since 2003, Board Member since 2018.</p>
                </div>
                <div style="order: 3">
                  <p>
                    Anna is beautiful inside and out. She has a lot of passion
                    and dedication for everything she does.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <div class="boardMembersFlex">
              <div style="order: 1" class="boardMembersPicture">
                <img
                  src="./assets/img/a-JayNagle.webp"
                  alt="Picture of A-Jay Nagle"
                />
              </div>
              <div style="order: 2" class="boardMembersDescription">
                <div style="order: 1">
                  <h1>A-Jay Nagle</h1>
                </div>
                <div style="order: 2">
                  <p>Injured since 2005, Board Member since 2018.</p>
                </div>
                <div style="order: 3">
                  <p>
                    A-Jay is on the Denver Harlequins Quad Rugby Team, and an
                    overall great guy with great insight.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <div class="boardMembersFlex">
              <div style="order: 1" class="boardMembersPicture">
                <img
                  src="./assets/img/dougDalton.webp"
                  alt="Picture of Doug Dalton"
                />
              </div>
              <div style="order: 2" class="boardMembersDescription">
                <div style="order: 1">
                  <h1>Doug Dalton</h1>
                </div>
                <div style="order: 2">
                  <p>Injured since 2000, Board Member since 2011.</p>
                </div>
                <div style="order: 3">
                  <p>
                    Bowling is definitely Doug’s 1st love, he plays a little
                    tennis, too. He’s a dedicated, funny guy, and great aspect
                    to the foundation.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <div class="boardMembersFlex">
              <div style="order: 1" class="boardMembersPicture">
                <img
                  src="./assets/img/johnVcelka.webp"
                  alt="Picture of John Vcelka"
                />
              </div>
              <div style="order: 2" class="boardMembersDescription">
                <div style="order: 1">
                  <h1>John Vcelka</h1>
                </div>
                <div style="order: 2">
                  <p>Injured since 2005, Board Member since 2011.</p>
                </div>
                <div style="order: 3">
                  <p>
                    John is the brains behind the nation wide website,
                    Sportsabilities (logo on hat), plays on the Rolling Mammoth
                    Lacrosse Team, and is a great addition to our team.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
