<div class="footerParent">
  <div style="order: 1">
    <div class="footerColumn">
      <div style="order: 1">
        <h4>That's How I Roll, Inc.</h4>
      </div>
      <div style="order: 2">
        <h4>Thornton, CO 80602</h4>
      </div>
      <div style="order: 3">
        <h4>720.550.8864</h4>
      </div>
      <div style="order: 4">
        <h4>
          <a href="mailto: info@thatshowiroll.org"
            >info&#64;thatshowiroll.org</a
          >
        </h4>
      </div>
      <div style="order: 5">
        <h4>
          Copyright © 2021 That's How I Roll Foundation - All Rights Reserved.
        </h4>
      </div>
    </div>
  </div>
</div>
