<footer class="footerParent">
  <div style="order: 1">
    <div class="footerColumn">
      <div style="order: 1">
        <h6>That's How I Roll, Inc.</h6>
      </div>
      <div style="order: 2">
        <h6>Thornton, CO 80602</h6>
      </div>
      <div style="order: 3">
        <h6>720.550.8864</h6>
      </div>
      <div style="order: 4">
        <h6>
          <a
            href="mailto: info@thatshowiroll.org"
            title="email into@thatshowiroll.org"
            >info&#64;thatshowiroll.org</a
          >
        </h6>
      </div>
      <div style="order: 5">
        <h6>
          Copyright © 2021 That's How I Roll Foundation - All Rights Reserved.
        </h6>
      </div>
    </div>
  </div>
</footer>
