.flexBoxParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #94d8db;
}

header {
  max-width: 1500px;
  margin: 0 auto 0 auto;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flexBoxContent {
  display: flex;
  flex-direction: row;
  gap: 50px;
  max-width: 1500px;
  margin: 0 auto 0 auto;
  color: #fff;
  height: 85vh;
}

.donateColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donateColumn a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border-color: #94d8db;
  border-width: 1px;
  border-style: solid;
  color: #94d8db;
}

.donateColumn a:hover {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  background-color: #94d8db;
  color: #000;
}
