<div class="flexBoxParent">
  <header style="order: 1">
    <h1>Donate</h1>
  </header>
  <div class="flexBoxContent" style="order: 2">
    <div class="donateColumn" style="order: 1; flex: 50">
      <div style="order: 1">
        <h4>We are a 501(c)(3) Tax Deductible Organization</h4>
      </div>
      <div style="order: 2">
        <p>
          That’s How I Roll is run by volunteers who have faced the same
          challenges as those they are trying to help. Our goal is to utilize
          real life situations as the teaching tools; including dinners, movies,
          going to the grocery store, etc. Our funding will also go to help
          provide the tools often necessary for people with disabilities to
          perform everyday tasks. With your donations and sponsorships, we will
          ease the financial burden of those giving their time as well as those
          who may not otherwise be able to afford to experience life outside
          their home.
        </p>
      </div>
    </div>
    <div class="donateColumn" style="order: 2; flex: 50">
      <div style="order: 1">
        <p>Tax ID: # 45-2678687</p>
      </div>
      <div style="order: 2">
        <p>
          We thank you in advance for your generous donation, it will help in
          more ways than you can imagine.
        </p>
      </div>
      <div style="order: 3">
        <a
          href="https://www.paypal.me/ThatsHowIRoll"
          target="_blank"
          title="Donate Now"
          >Donate Now</a
        >
      </div>
    </div>
  </div>
</div>
