<div class="flexBoxParent">
  <header style="order: 1">
    <div class="logoAndMissionStatementFlex">
      <div style="order: 1" class="logo">
        <img
          src="../../assets/img/logo.webp"
          alt="That's How I Roll Foundation Logo"
        />
      </div>
      <div style="order: 2" class="missionStatement">
        <h1>
          Giving paraplegics and quadriplegics the confidence and ability to
          live life to its fullest
        </h1>
      </div>
    </div>
  </header>
  <div class="goalsTitle" style="order: 2">
    <h1>The Goals of Our Foundation</h1>
  </div>
  <div class="setBackgroundBlack" style="order: 3">
    <div class="goals">
      <div style="order: 1; flex: 50">
        <ul>
          <li>
            To pair up a new or existing injury/condition with someone who has
            the same injury/condition, and has learned the ropes of everyday
            life. Providing a <strong>Big Wheels/Little Wheels™ </strong>system.
          </li>
          <li>
            Help <strong>Little Wheels</strong> build confidence and acceptance
            within themselves, and their injuries/conditions. In turn, building
            acceptance within the Community.
          </li>
          <li>
            Getting <strong>Little Wheels</strong> out into the world and learn
            how to function and interact the best they can with everyday
            situations.
          </li>
          <li>
            Help <strong>Little Wheels</strong> better understand how to
            maneuver in their chairs, handle public situations, and build
            confidence outside the comfort of the home/hospital atmosphere.
          </li>
        </ul>
      </div>
      <div style="order: 2; flex: 50; border-left-color: #fff">
        <p>
          With the help of Big Wheels and Sponsors, we can help Little Wheels
          with something as simple as dinner or a movie.
        </p>
        <p>
          We have found that it is the relationships created that matter the
          most in building confidence.
        </p>
        <p>
          Visit our <a href="/home" tabindex="3">peer support page</a> to find
          out more about Big Wheels/Little Wheels™
        </p>
      </div>
    </div>
  </div>
  <div class="aboutUsTitle" style="order: 4">
    <h1>About Us</h1>
    <div class="aboutUsTitleFlexBox">
      <div style="order: 1">
        <p>
          Colby & Meara Kortum started this Foundation based on one concept:
        </p>
        <p>
          Peer interaction and simple conversation may be all it takes to turn
          someone's outlook on life around.
        </p>
      </div>
      <div style="order: 2">
        <img
          src="../../assets/img/colbyAndMearaKortum.webp"
          alt="Colby and Meara Kortum"
        />
      </div>
      <div style="order: 3">
        <img src="../../assets/img/handsUp.webp" alt="" />
      </div>
    </div>
  </div>
  <div class="aboutUs" style="order: 5">
    <div style="order: 1; flex: 50">
      <h3>Colby Kortum</h3>
      <p>
        Colby was injured in a car accident in Feb. 2000 which left him with a
        SCI injury at L1-L2. After being faced with multiple health challenges,
        he was urged by a friend to come to Denver for his re-eval in May of
        2006. Scheduled to stay for a week, he met his wife on the first day. At
        the time she was at the hospital with her mother, who had been in a car
        accident as well. Colby’s independence and confidence, along with his
        ability to overcome life’s obstacles, is what made him stand out. It was
        less than a year and a half later, in August of 2007, that Colby and
        Meara were married.
      </p>
    </div>
    <div style="order: 2; flex: 50">
      <h3>Meara Kortum</h3>
      <p>
        In 2009, while Meara was in therapy with her mother, she overheard other
        patients talking about a guy they had met. They couldn’t believe he
        worked, traveled, and was married. Little did they know, it was Meara’s
        husband they were referring to. It was a simple conversation in passing
        that had such a positive and powerful influence. It was then that the
        wheels started to turn, ideas were put together, and the Foundation was
        formed in 2011.
      </p>
    </div>
  </div>
</div>
