<div class="background">
  <nav class="nav-parent">
    <div style="order: 1; flex: 50">
      <div class="logo-flexboxParent">
        <div style="order: 1">
          <h1>That's How I Roll Foundation</h1>
        </div>
      </div>
    </div>
    <div style="order: 2; flex: 50">
      <div class="links-flexboxParent">
        <div style="order: 1">
          <div class="verticalAlignFlexbox">
            <div class="order: 1">
              <a href="/home" tabindex="1"><strong>About Us</strong></a>
            </div>
          </div>
        </div>
        <div style="order: 2">
          <div class="verticalAlignFlexbox">
            <div class="order: 2">
              <a href="/donate" tabindex="2"><strong>Donate</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
