<div class="background">
  <nav class="nav-parent">
    <div style="order: 1; flex: 50">
      <div class="logo-flexboxParent">
        <div style="order: 1">
          <h1>That's How I Roll Foundation</h1>
        </div>
      </div>
    </div>
    <div style="order: 2; flex: 50">
      <div class="links-flexboxParent">
        <div style="order: 1">
          <div class="verticalAlignFlexbox">
            <div class="order: 1">
              <a
                href="/ALTS3150/UDDM_FinalAssignment/home"
                tabindex="1"
                title="About Us"
                accesskey="a"
                ><strong>About Us</strong></a
              >
            </div>
          </div>
        </div>
        <div style="order: 2">
          <div class="verticalAlignFlexbox">
            <div class="order: 2">
              <a href="/" tabindex="2" title="Events" accesskey="e"
                ><strong>Events</strong></a
              >
            </div>
          </div>
        </div>
        <div style="order: 3">
          <div class="verticalAlignFlexbox">
            <div class="order: 2">
              <a
                href="/ALTS3150/UDDM_FinalAssignment/donate"
                tabindex="3"
                title="Donate"
                accesskey="d"
                ><strong>Donate</strong></a
              >
            </div>
          </div>
        </div>
        <div style="order: 4">
          <div class="verticalAlignFlexbox">
            <div class="order: 2">
              <a href="/" tabindex="4" title="Peer Support" accesskey="p"
                ><strong>Peer Support</strong></a
              >
            </div>
          </div>
        </div>
        <div style="order: 5">
          <div class="verticalAlignFlexbox">
            <div class="order: 2">
              <a href="/" tabindex="5" title="Contact Us" accesskey="c"
                ><strong>Contact Us</strong></a
              >
            </div>
          </div>
        </div>
        <div style="order: 6">
          <div class="verticalAlignFlexbox">
            <div class="order: 2">
              <a
                href="/"
                tabindex="6"
                title="Resources and Videos"
                accesskey="r"
                ><strong>Resources/Videos</strong></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
